-
  let canonicalURL = (page.title[0] != '') ? data.meta.domain + page.path[1] : data.meta.domain;
  let promoImage = `${data.meta.domain}/ogp_${(page.title[0] != '') ? page.id : 'common'}.jpeg`;
  let titleMerge = (page.title[0] != '') ? `${page.title[0]} │ ${data.meta.websiteName}` : data.meta.websiteName;
  let keywordsMerge = (page.keywords != '') ? `${page.keywords}, ${data.meta.keywords}` : data.meta.keywords;
  let titleSEO = (page.title[1] != '') ? page.title[1] : `${page.title[0]} │ ${data.meta.websiteName}`;

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title #{titleSEO}

meta(name="description", content=page.description)
meta(name="keywords", content=keywordsMerge)

meta(name="google-site-verification" content="tgWmHffwnNJaJTL6j5VJauVecBP29dEfk4t4OMgcQ_o")
meta(name="yandex-verification" content="245c36a7516eb7ef")

link(rel="preconnect" href="https://www.google-analytics.com" crossorigin)
link(rel="dns-prefetch" href="https://www.google-analytics.com")
link(rel="preconnect" href="https://mc.yandex.ru" crossorigin)
link(rel="dns-prefetch" href="https://mc.yandex.ru")

link(rel="canonical" href=canonicalURL)
meta(property="og:locale" content="ru")
meta(property="og:title", content=titleMerge)
meta(property="og:site_name", content=data.meta.websiteName)
meta(property="og:type", content="website")
meta(property="og:description", content=page.description)
meta(property="og:url", content=canonicalURL)
meta(property="og:image", content=promoImage)
meta(property="og:image:secure_url", content=promoImage)
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=titleMerge)
meta(name="twitter:description", content=page.description)
meta(name="twitter:image", content=promoImage)

link(rel="manifest" href="./site.webmanifest")
link(rel="shortcut icon" href="../favicon.ico")
include ./_pwa-asset

link(
  rel="preload"
  href="../fonts/GrtskVariable.woff2" as="font"
  type="font/woff2-variations"
  crossorigin
)
style.
  @font-face {
    font-family: Grtsk Variable;
    src:
      local(Grtsk Variable),
      url(../fonts/GrtskVariable.woff2) format('woff2 supports variations'),
      url(../fonts/GrtskVariable.woff2) format('woff2-variations');
    font-stretch: 190% 530%;
    font-style: oblique 0deg 15deg;
    font-synthesis: none;
    font-weight: 100 700;
    font-display: swap;
  }
link(
  rel="stylesheet"
  href="../scss/loader.scss"
  media="print"
  onload="this.media='all'"
)

block head
  include ./_ym
  script(src="../js/vendor/modernizr.js")

if page.id !== 'schedule'
  prepend head
    link(rel="stylesheet" type="text/css" href="../scss/main.scss")
else
  prepend head
    link(rel="stylesheet" type="text/css" href="../scss/reset.scss")
