- let year = new Date().getFullYear()
- let copy = `${data.meta.websiteName} © 2019—${year}`

mixin navLink(path, title)
  a.c-nav__link(rel="noopener" href=path)= title

nav.c-nav(aria-label="primary")
  .c-nav__links
    each page in data.pages
      if page.id !== 'index'
        +navLink(page.path[0], page.title)
      else
        +navLink(page.path, copy)

  .c-nav__links-social
    a.c-nav__link-social(
      rel="noopener"
      href="https://vk.com/bmfitness"
      target="_blank"
    )
    a.c-nav__link-social(
      rel="noopener"
      href="https://www.instagram.com/bodymind.fs/"
      target="_blank"
    )
    a.c-nav__link-social(
      rel="noopener"
      href=`mailto:${data.meta.email}`
    )
