.c-calendar
  .c-calendar__body
    //- Первая дата
    - let firstDate = new Date(currentYear, currentMonth, 1);
    //- Последняя дата
    - let lastDate  = new Date(currentYear, (currentMonth + 1), 0);

    //- Дни недели
    - for (let day = 0; day < daysInWeek; day++)
      .c-calendar__day #{daysLabelAbbr[day]}

    //- Дополнительные пробелы до первой даты
    - for (let date = 0; date < firstDate.getDay(); date++)
      .c-calendar__date
    //- Фактическая дата
    - for (let date = 1; date <= lastDate.getDate(); date++)
      .c-calendar__date
        - let attrs = {checked: currentDate == date}
        label
          input(
            type="radio"
            name="calendar_date"
            value=`${currentYear}/${currentMonth}/${date}`
          )&attributes(attrs)
          span #{date}
    //- Дополнительные пробелы после последней даты
    - for (let date = lastDate.getDay() + 1; date < daysInWeek; date++)
      .c-calendar__date
