extends ./template/_page

append head
  link(rel="stylesheet" type="text/css" href="../video/lite-vimeo-embed.css")
  script.
    Modernizr.on('webp', function(result) {
      const items = [...document.querySelectorAll('.c-carousel__item')];
      items.forEach((item) => {
        item.setAttribute("data-image-set", "1");
      });
    });

block vars
  -
    let page = data.pages.coaches;
  -
    let coaches = [
      {
        'nameFirst': 'Наталья',
        'nameLast': 'Королёва',
        'occupation': 'Основательница бренда и владелица студии «Body & Mind», NPS bikini champion, фитнес-коуч, консультант по питанию. “Я создаю прекрасных женщин! И своим примером показываю, что возраст всего лишь цифра в паспорте, а количество детей только украшает! И ни в коем случае эти два фактора не влияют на фигуру и не препятствуют активной жизненной позиции.”',
        'videoId': ''
      },
      {
        'nameFirst': 'Анастасия',
        'nameLast': 'Акулова',
        'occupation': 'Мастер спорта по спортивной гимнастике. Подарит вам красивое гибкое тело и ровный шпагат. “Уверена, что спорт должен начинаться с раннего детства, это и есть залог здоровья! Моя программа функционального тренинга для детей основывается на общей подготовке и изучении основ движения, что дает общее развитие вашему ребенку и способствует развитию антропометрических данных!”',
        'videoId': '381051861'
      },
      {
        'nameFirst': 'Анна',
        'nameLast': 'Сафронова',
        'occupation': '“Для меня фитнес это гораздо больше, чем просто накаченные мышцы и стройное тело. Фитнес — это способ подарить своему телу свободу движения без боли и ограничений! Я хочу, чтобы Вы уверено ощущали себя в своём теле, красиво выглядели и наслаждались каждым движением!”',
        'videoId': '381053055'
      },
      {
        'nameFirst': 'Елена',
        'nameLast': 'Лютая',
        'occupation': '“Практикую с 2006 года, преподаю с 2009. На базе многолетнего опыта сформировался спокойный, размеренный, приближенный к йогатерапевтическому стиль ведения занятий. Всегда открыта к новым знаниям. Цель моих занятий — помочь восстановить гармонию между телом и сознанием”',
        'videoId': '381060232'
      },
      {
        'nameFirst': 'Светлана',
        'nameLast': 'Махотина',
        'occupation': 'Стаж работы в тренажерном зале с 2015 года. Знает короткую дорогу к рельефному прессу и красивым ягодицам. Если ваша цель — красивое подтянутое тело — вам сюда!',
        'videoId': '381047671'
      },
      {
        'nameFirst': 'Ольга',
        'nameLast': 'Лунгу',
        'occupation': '“Если вы чувствуете усталость, напряжение, постоянную гонку, если у вас депрессия или просто плохое настроение, болит спина, шея, поясница — вас спасет йога! Йога вернет вам ощущение радости и счастья! Хотите, чтобы мир стал лучше, — начните с себя и сделайте себя счастливыми!”',
        'videoId': '381060316'
      },
      {
        'nameFirst': 'Ольга',
        'nameLast': 'Петухова',
        'occupation': 'Сертифицированный тренер и специалист широкого профиля. Улыбаясь, задаст жару  вашему прессу и ягодицам, а на последок доставит удовольствие глубокой растяжкой. “Стараюсь всем своим клиентам дарить внимание, заботу, и, само собой, результаты! Хотите привести себя в форму и зарядиться настроением? — Жду вас на своих занятиях!”',
        'videoId': '381063620'
      },
      {
        'nameFirst': 'Татьяна',
        'nameLast': 'Заднипрянец',
        'occupation': 'Высшее физкультурное образование. Посетила огромное количество конвенций и воркшопов. Является сертифицированным тренером силовых программ. “Для меня фитнес — чуть больше, чем работа, и чуть меньше, чем целая жизнь. Если вы хотите почувствовать свои мышцы и ощутить усталость после тренировки, то это точно ко мне”',
        'videoId': '381064561'
      }
    ]
    total = coaches.length;

block content
  .c-carousel(style="--side-fade: 24")
    each coach, index in coaches
      section.c-carousel__item(id=`section-id-${index}`)

        .c-carousel__item-meta
          h2.fs-h2
            | #{coach.nameFirst}#[br]
            | #{coach.nameLast}
          p.fs-bs
            | #{coach.occupation}

          if coach.videoId !== ''
            lite-vimeo(videoid=coach.videoId)

        .c-carousel__item-img
          figure.lazy(style="--bg-position: top; --attachment: local; max-inline-size: 42rem")

    .c-carousel__controls
      each i in Array.from(Array(total).keys())
        a(href=`#section-id-${i}`)

block scripts
  script(src="../video/lite-vimeo-embed.js")
  script(src="../js/lazy-load.js")
