extends ./template/_page

append head
  script(src="https://www.google.com/recaptcha/api.js?render=6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB&onload=initRecaptcha&render=explicit")
  script(type="text/javascript").
    var initRecaptcha = function() {
      grecaptcha.ready(function() {
        grecaptcha.execute("6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB", {action: "homepage"}).then(function(token) {
        document.getElementById('recaptcha_token').value = token;
        });
      });
    }

block vars
  -
    let page = data.pages.contact;
  -
    let meta = {
      'trader': 'ИП Королёва Наталья Владимировна',
      'number': 'ИНН 532004637012 / ОГРНИП 318532100021883',
      'adds': [
        '173014, Великий Новгород, Студенческая улица, 17',
        '173021, Новгородский р-н, д. Плетниха, улица Чапаева, 20'
      ],
      'email': `${data.meta.email}`,
      'phone': ['+7 (921) 025-08-98', '92-02-20']
    }

block content

  mixin unorderedList(heading)
    p.fs-bs= heading
    ul: block

  section.contact
    .maps-area
      #map
    .meta-area
      section
        +unorderedList('Контакты:')
          li.fs-bs
            | Фактический адрес: #{meta.adds[0]}
          li.fs-bs
            | Электронная почта: #{meta.email}
          li.fs-bs
            | Телефоны:
            | #[a(href="tel:+7 (921) 025-08-98" rel="nofollow") #{meta.phone[0]}],
            | #[a(href="tel:+7 (8162) 92-02-20" rel="nofollow") #{meta.phone[1]}]
      section
        +unorderedList('Реквизиты:')
          li.fs-bs= meta.trader
          li.fs-bs= meta.number
          li.fs-bs
            | Юридический адрес: #{meta.adds[1]}

    .form-area
      h1.fs-h3
        | Пишите нам!
      p.fs-bs
        | Укажите, пожалуйста, Ваши контактные данные.
      small &ast; Обязательно
      include ./form

block scripts
  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0cbaaf418c0e87df2938d943cc21ee7dbdd948a7fa75b86b25c16e9fbf15b847&amp;id=map&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true&amp;apikey=<b606c37d-c0a3-4f3c-86bf-dd82ccceefac>")
