include ./cta

form.c-form#contact-form(
  accept-charset="UTF-8"
  action="https://app.form2chat.io/f/d4267741"
  method="POST"
  autocomplete="on"
  spellcheck="false"
)
  label.c-form__field(for="name")
    span.c-form__label-text
      | Имя #[span &ast;]
    input.c-form__control#name(
      role="text-box"
      type="text"
      name="name"
      placeholder="Ваше имя"
      aria-labelledby="name-label"
      aria-required="true"
      minlength="2"
      maxlength="None"
      required
      autofocus
      autocapitalize="off"
      spellcheck="false"
    )
    small#name-label Введите полное имя

  label.c-form__field(for="phone")
    span.c-form__label-text
      | Телефон
    input.c-form__control#phone(
      inputmode="tel"
      type="tel"
      name="phone"
      placeholder="+7 (921) 025-08-98"
      minlength="11"
      maxlength="18"
      aria-required="false"
    )
    small Введите номер телефона

  label.c-form__field(for="email")
    span.c-form__label-text
      | Email #[span &ast;]
    input.c-form__control#email(
      inputmode="email"
      type="email"
      name="email"
      placeholder="admin@bodymind.studio"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      autocapitalize="off"
      spellcheck="false"
      aria-required="false"
    )
    small Введите адрес эл. почты

  label.c-form__field(for="message")
    span.c-form__label-text
      | Комментарии
    textarea#message(
      role="text-box"
      name="comment"
      form="contact-form"
      placeholder="Сообщение…"
      rows="2"
      cols="20"
      wrap="hard"
      aria-required="false"
    )

  .c-form__group
    input.c-form__checkbox#terms(
      type="checkbox"
      tabindex="0"
      aria-checked="true"
      aria-labelledby="label-terms"
      aria-describedby="Пожалуйста, перед тем, как отправить, ознакомьтесь с политикой использования данных Body & Mind."
      onclick="document.getElementById('cta').disabled = !document.getElementById('cta').disabled;"
    )
    label.c-form__checkbox-label.fs-bs#label-terms(for="terms")
      | Принять&nbsp;
      a(href="/privacy.pug" target="_blank" rel="noopener")
        | политику обработки персональных данных.

  +cta({
    base: 'c-form',
    type: 'button',
    text: 'Отправить!'
  })(type="submit" disabled)

  #submit-result

  input#recaptcha_token(type="hidden" name="recaptcha_token")
  input(type="hidden" name="action" value="validate_captcha")
  //- Honeypot
  input(type="hidden" name="_gotyou")
