extends ./template/_page

block vars
  -
    let page = data.pages.pricing;

    let tabs = [
      {
        'label': 'Group',
        'content': 'Единая цена на все виды групповых программ'
      },
      {
        'label': 'Personal',
        'content': 'Персональные тренировки'
      },
      {
        'label': 'Premium',
        'content': 'Персональные тренировки (Reformer / Gyrotonic)'
      },
      {
        'label': 'Premium Mini',
        'content': 'Тренировки в мини-группах из 3-5 человек'
      },
      {
        'label': 'Trial',
        'content': 'Пробные тренировки для новых клиентов'
      }
    ];

block content
  include ./cta

  mixin deal(amount, cost)
    .quantity
      | #[p.fs-bs #{amount}]
    .purchase
      | #[p.fs-bs #{cost} ₽]
      +cta({
        type: 'anchor',
        link: '#',
        text: 'Купить!'
      })

  section.o-container
    h1.fs-h2
      | Услуги и цены
    .c-tabs(role="tablist")
      each tab, index in tabs
        .c-tabs__tab(role="tab")
          - let attrs = {checked: index === 0}
          input(id=`tab-${index}` tabindex="0" type="radio" name="radioTab")&attributes(attrs)
          label(for=`tab-${index}`)= tab.label
          .c-tabs__content
            b.fs-bs= tab.content
            b.fs-bs
              | #[span Количество]
              | #[span Стоимость]
            case tab.label
              when 'Group'
                +deal(1, 250)
                +deal(3, 699)
                +deal(8, 1800)
                +deal(16, 3300)
                +deal(24, 4800)
                +deal(32, 5100)
              when 'Personal'
                +deal(1, 600)
                +deal(8, 4300)
                +deal(16, 8000)
              when 'Premium'
                +deal(1, 1500)
                +deal(8, 10800)
                +deal(16, 19200)
              when 'Premium Mini'
                +deal(1, 800)
                +deal(8, 5700)
                +deal(16, 10400)
              when 'Trial'
                +deal(3 + " (групп.)", 300)
                +deal(3 + " (персон.)", 900)
                +deal("Cкидка 50% на Premium", 750)

block scripts
