extends ./template/_page

block vars
  -
    let page = data.pages.schedule;

    //- Метаданные календаря
    const startingYear = new Date().getFullYear();
    const endingYear   = new Date().getFullYear();
    const monthsCount  = 12;
    const daysInWeek   = 7;
    const currentDate  = new Date();

    const idPrefix = 'cal_';
    const calName  = 'calendar';
    const dateName = 'calendar_date';

    const daysLabel = [
      'ВС',
      'ПН',
      'ВТ',
      'СР',
      'ЧТ',
      'ПТ',
      'СБ'
    ];

    const weekDays = [
      'Воскресенье',
      'Понедельник',
      'Вторник',
      'Среда',
      'Четверг',
      'Пятница',
      'Суббота'
    ];

    const monthsLabel = [
      'Январь',
      'Февраль',
      'Март',
      'Апрель',
      'Май',
      'Июнь',
      'Июль',
      'Август',
      'Сентябрь',
      'Октябрь',
      'Ноябрь',
      'Декабрь'
    ];

block content
  include ./calendar

  mixin session(options)
    div(
      class=(options.merged == true) ? `c-session c-session--merged` : 'c-session'
      style=`--date: var(--day-${options.day}); --time: var(--of-${options.time});`
    )&attributes(attributes)
      if options.merged == true
        .sub
          h3.c-session__title: a(href=`/workout.pug#slide-${options.link1}`)= options.title1
          span.c-session__date=`${weekDays[day]},`
          span.c-session__coach= options.coach1
          span.c-session__cta: a(href="#") Записаться
          if options.badge1 == 'kids'
            span.c-session__badge дети
        .sub
          h3.c-session__title: a(href=`/workout.pug#slide-${options.link2}`)= options.title2
          span.c-session__date=`${weekDays[day]},`
          span.c-session__coach= options.coach2
          span.c-session__cta: a(href="#") Записаться
          if options.badge2 == 'kids'
            span.c-session__badge дети
      else
        h3.c-session__title: a(href=`/workout.pug#slide-${options.link1}`)= options.title1
        span.c-session__date=`${weekDays[day]},`
        span.c-session__coach= options.coach1
        span.c-session__cta: a(href="#") Записаться
        if options.badge1 == 'kids'
          span.c-session__badge дети

  h2.fs-h3.current=`${monthsLabel[currentDate.getMonth()]} ${year} г.`

  #schedule-heading.visually-hidden
    | Расписание групповых занятий
  .o-schedule(aria-labelledby="schedule-heading")

    //- Актуальные даты
    - for (let i = 1; i < daysInWeek; i++)
      - let startOfWeek = currentDate.getDate() - currentDate.getDay() + (currentDate.getDay() === 0 ? -6 : 1);
      - let endOfWeek = currentDate.getDate() - (currentDate.getDay() - 1) + 6;
      - let dayOfWeek = startOfWeek - 1 + i;

      span.date-slot(aria-hidden="true" style=`grid-column: track-${i}; grid-row: tracks`)
        | #{weekDays[i]}, #{dayOfWeek}

    h2.time-slot(style="grid-row: time-0900")
      | 09:00
    +session({
      day: 2,
      time: '09',
      link1: '2',
      title1: 'Hatha Yoga',
      coach1: 'Елена Лютая'
    })
    +session({
      day: 5,
      time: '09',
      link1: '2',
      title1: 'Hatha Yoga',
      coach1: 'Елена Лютая'
    })

    h2.time-slot(style="grid-row: time-1000")
      | 10:00
    +session({
      day: 1,
      time: '10',
      link1: '3',
      title1: 'Power Class',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 2,
      time: '10',
      link1: '1',
      title1: 'Pilates Mat',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 4,
      time: '10',
      link1: '1',
      title1: 'Pilates Mat',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 5,
      time: '10',
      link1: '3',
      title1: 'Power Class',
      coach1: 'Анна Сафронова'
    })

    h2.time-slot(style="grid-row: time-1100")
      | 11:00
    +session({
      day: 2,
      time: '11',
      link1: '3',
      title1: 'Full Body',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 4,
      time: '11',
      link1: '3',
      title1: 'Full Body',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 6,
      time: '11',
      link1: '4',
      title1: 'Dance Therapy',
      coach1: 'Анна Сафронова',
      badge1: 'kids',
      merged: true,
      link2: '2',
      title2: 'Hatha Yoga',
      coach2: 'Елена Лютая'
    })

    h2.time-slot(style="grid-row: time-1200")
      | 12:00
    +session({
      day: 6,
      time: '12',
      link1: 1,
      title1: 'Power Pilates',
      coach1: 'Анна Сафронова'
    })

    h2.time-slot(style="grid-row: time-1300")
      | 13:00
    +session({
      day: 6,
      time: '13',
      link1: '2',
      title1: 'Relax Yoga',
      coach1: 'Ольга Лунгу',
      badge1: 'adults',
      merged: true,
      link2: '3',
      title2: 'Power Class',
      coach2: 'Анна Сафронова'
    })

    h2.time-slot(style="grid-row: time-1400")
      | 14:00
    //-
      h2.time-slot(style="grid-row: time-1500") 15:00
      h2.time-slot(style="grid-row: time-1600") 16:00
      h2.time-slot(style="grid-row: time-1700") 17:00

    h2.time-slot(style="grid-row: time-1800")
      | 18:00
    +session({
      day: 1,
      time: '18',
      link1: '4',
      title1: 'Dance Therapy',
      coach1: 'Анна Сафронова',
      badge1: 'kids'
    })
    +session({
      day: 2,
      time: '18',
      link1: '3',
      title1: 'Super Sculpt',
      coach1: 'Ольга Петухова'
    })
    +session({
      day: 3,
      time: '18',
      link1: '4',
      title1: 'Foundation',
      coach1: 'Анастасия Акулова',
      badge1: 'kids',
      merged: true,
      link2: '4',
      title2: 'Flexibility',
      coach2: 'Анна Сафронова'
    })
    +session({
      day: 4,
      time: '18',
      link1: '3',
      title1: 'Super Sculpt',
      coach1: 'Ольга Петухова'
    })
    +session({
      day: 5,
      time: '18',
      link1: '4',
      title1: 'Foundation',
      coach1: 'Анастасия Акулова',
      badge1: 'kids'
    })

    h2.time-slot(style="grid-row: time-1900")
      | 19:00
    +session({
      day: 1,
      time: '19',
      link1: '3',
      title1: 'Power Class',
      coach1: 'Анна Сафронова'
    })
    +session({
      day: 2,
      time: '19',
      link1: '2',
      title1: 'Fitness Yoga',
      coach1: 'Ольга Лунгу',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Power Pilates',
      coach2: 'Татьяна Заднипрянец'
    })
    +session({
      day: 3,
      time: '19',
      link1: '3',
      title1: 'Stretching',
      coach1: 'Анастасия Акулова',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Pilates Mat',
      coach2: 'Анна Сафронова'
    })
    +session({
      day: 4,
      time: '19',
      link1: '2',
      title1: 'Fitness Yoga',
      coach1: 'Ольга Лунгу',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Power Pilates',
      coach2: 'Татьяна Заднипрянец'
    })
    +session({
      day: 5,
      time: '19',
      link1: '3',
      title1: 'Stretching',
      coach1: 'Анастасия Акулова',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Pilates Mat',
      coach2: 'Анна Сафронова'
    })

    h2.time-slot(style="grid-row: time-2000")
      | 20:00
    +session({
      day: 1,
      time: '20',
      link1: '2',
      title1: 'Hatha Yoga',
      coach1: 'Елена Лютая',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Men\'s Pilates',
      coach2: 'Анна Сафронова'
    })
    +session({
      day: 2,
      time: '20',
      link1: '3',
      title1: 'Stretching',
      coach1: 'Ольга Лунгу'
    })
    +session({
      day: 3,
      time: '20',
      link1: '2',
      title1: 'Hatha Yoga',
      coach1: 'Елена Лютая',
      badge1: 'adults',
      merged: true,
      link2: '1',
      title2: 'Men\'s Pilates',
      coach2: 'Анна Сафронова'
    })
    +session({
      day: 4,
      time: '20',
      link1: '3',
      title1: 'Stretching',
      coach1: 'Ольга Лунгу'
    })

block scripts
